@font-face {
  font-family: 'Noto Sans Display';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/NotoSansDisplay-Regular.ttf);
}

/*
html { 
  background: #111;
  padding: 1em;
  font-family: Noto Sans Display;
  color: #eee;
  font-size: 1em;
  line-height: 1;
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
  letter-spacing: 0.125em;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  /* Effetto CRT */
  /*
  position: relative;
  overflow: hidden;
  transform: perspective(800px) scale(1.02) rotateX(1deg) rotateY(1deg);
  box-shadow: inset 0 0 80px rgba(0,0,0,0.8);
}*/

html { 
  background: #111 url("./images/sfondo-crt.jpg") no-repeat center center fixed;
  background-size: cover; /* adatta l’immagine allo schermo */
  padding: 1em;
  font-family: Noto Sans Display;
  color: #eee;
  font-size: 1em;
  line-height: 1;
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
  letter-spacing: 0.125em;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  /* Effetto CRT */
  position: relative;
  overflow: hidden;
  transform: perspective(800px) scale(1.02) rotateX(1deg) rotateY(1deg);
  box-shadow: inset 0 0 80px rgba(0,0,0,0.8);
}


html::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  background: radial-gradient(circle at center, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.6) 100%);
  mix-blend-mode: overlay;
}

html::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255,255,255,0.05) 0px,
    rgba(255,255,255,0.05) 1px,
    transparent 2px,
    transparent 4px
  );
  opacity: 0.2;
}

h1 { 
  font-size: 5em; 
  text-align: center;
}

a {
  color: white;
}

@media screen and (min-width: 1200px) {
  body {
      margin-left: 20rem;
      margin-right: 20rem;
  }
}

@media screen and (min-width: 600px) {
    body {
        margin-left: 5em;
        margin-right: 5em;
    }
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}
