@font-face {
    font-family: 'Byte Bounce';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ByteBounce.ttf');
  }
  
  html { 
    background: #000;
    padding: 1em 1em 0 1em;
    font-family: Byte Bounce;
    color: #eee;
    font-size: 1em;
    line-height: 1;
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    letter-spacing: 0.125em;
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  /* Curvatura CRT - rimane fixed */
  body::before {
    content: '';
    position: fixed;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    background: radial-gradient(ellipse at center, transparent 80%, rgba(0, 0, 0, 0.8) 100%);
    pointer-events: none;
    z-index: 999;
  }



  /* Sfondo immagine che scrolla */
  html::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/sfondoprova.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat; /* assicurati che sia no-repeat */
    opacity: 0.5;
    z-index: -1;
    filter: brightness(0.9) contrast(1.2);
  }

  /* Effetto scanlines CRT */
  html::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.08),
      rgba(0, 0, 0, 0.08) 1px,
      transparent 1px,
      transparent 2px
    );
    pointer-events: none;
    z-index: 1000;
    animation: scanline 30s linear infinite;
  }

  footer img {
    position: fixed;
    bottom: -5em; /* compensa il padding */
    right: -5em;
    max-width: 350px;
    z-index: 2001;
  }




  body {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    transform: perspective(1000px) rotateX(0deg);
    transform-style: preserve-3d;
  }
  
  h1 { 
    font-size: 5em; 
    text-align: center;
  }

  h2 { 
    font-size: 3em; 
    text-align: center;
  }

  a {
    color: white;
  }

  p {
    margin-bottom: 1.5em;
    font-size: 150%;
  }


  @media screen and (min-width: 1200px) {
    body {
        margin-left: 20rem;
        margin-right: 20rem;
    }
  }

  @media screen and (min-width: 600px) {
      body {
          margin-left: 5em;
          margin-right: 5em;
      }
  }
  
  @keyframes textflicker {
    from {
      text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    to {
      text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
  }

  @keyframes scanline {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(3px);
    }
  }

  .carriera{
    margin: 0 auto;
    font-size: 25px; 
  }
  